*{
  box-sizing: border-box;
}


body{
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(13, 13, 70);   /* Yellow background */
  font-family: "Courier New", Courier, monospace;
}


.container{
  background: linear-gradient(135deg, #1f7a8c, #0b5351);
  color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.4);
  min-width: 350px;
  position: relative;
}

 .container h1{
  text-align: center;
  margin-bottom: 20px;
 }


.currency-container{
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* for input */
select{
  padding: 6px 8px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
}

input{
  width: 90px;
  padding: 5px;
  font-size: 20px;
  text-align: right;
  border: none;
  background: transparent;
  color: white;
}

#exchange-rate{
  margin-top: 15px;
  font-size: 14px;
  opacity: 0.9;
}
